{% extends 'base.html' %}

{% block meta %}
<title>Infografis</title>
<style>
  .perbagian {
    margin: 50px 100px 50px 100px;
}
</style>
{% endblock meta %}

{% block content %}
<body>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" onclick="location.href='/infografis/artikel1/'">
            <img src="https://cdn.discordapp.com/attachments/1002595520281325578/1037352368406282360/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p>Jaman sekarang,orang-orang sudah mulai menyadari kembali betapa pentingnya memiliki pola hidup sehat. 
                Nah, berikut adalah 5 cara sederhana agar kalian bisa memulai pola hidup sehat versi kalian. Yuk cari tahu lebih dalam !
              </p>
            </div>
          </div>
          <div class="carousel-item" onclick="location.href='/infografis/artikel2/'">
            <img src="https://cdn.discordapp.com/attachments/1002595520281325578/1037352386408226897/2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p>Makan makanan yang sehat merupakan salah satu faktor untuk memiliki pola hidup yang sehat juga sehingga penting nih untuk mengetahui
                makanan 4 sehat 5 sempurna dan apa ajasih manfaatnya ? Check it out!!
              </p>
            </div>
          </div>
          <div class="carousel-item" onclick="location.href='/infografis/artikel3/'">
            <img src="https://cdn.discordapp.com/attachments/1002595520281325578/1037352404460507237/3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <p>Workout harus di GYM ? kata siapa ? Ini ada kok 7 gerakan workout yang dapat dilakukan dirumah, sangat praktis!
                Lets check it out guys!!
              </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    

</body>
{% endblock content %}