{% extends 'base.html' %}

{% block meta %}
<title>Infografis</title>
<style>
    
</style>
{% endblock meta %}

{% block content %}
<body>
  <nav class="navbar" style="background-color:#1AA7EC">
    <div class="container-fluid">
    <a class="navbar-brand" href="/uhealths/home/" style="font-weight:700"><span style="color:#FFE45C">U</span><span style="color:#FFFFFF">HEALTHS</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/infografis/infografis/">Infografis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#">Forum Diskusi</a>
        </li>
        </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link" href="/uhealths/profile/" style="color:blue">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/uhealths/logout/" style="color:red">Logout</a></li>
            </ul>
        </div>
    </div>
    </div>
</nav>

<section id="hero-slider" class="hero-slider">
  <div class="container-md aos-init aos-animate" data-aos="fade-in">
    <div class="row"><div class="col-12">
      <div class="swiper sliderFeaturedPosts swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-a53c16f8c280109c3" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-2592px, 0px, 0px);">
          <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="4 / 4" style="width: 1296px;"> 
            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('https://cdn.discordapp.com/attachments/1002595520281325578/1034813222001319946/Minimalist_Watercolor_Green_Thank_You_Card_-3.jpg);">
              <div class="img-bg-inner">
                <h2>9 Half-up/half-down Hairstyles for Long and Medium Hair</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
              </div>
            </a>
          </div>
          <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" role="group" aria-label="1 / 4" style="width: 1296px;">
            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-1.jpg');">
              <div class="img-bg-inner">
                <h2>The Best Homemade Masks for Face (keep the Pimples Away)</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
              </div>
            </a>
          </div>
          <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" role="group" aria-label="2 / 4" style="width: 1296px;">
            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-2.jpg');">
              <div class="img-bg-inner">
                <h2>17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
              </div> 
            </a>
          </div>
          <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" role="group" aria-label="3 / 4" style="width: 1296px;">
            <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-3.jpg');">
              <div class="img-bg-inner">
                <h2>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
              </div>
            </a>
          </div>
          </section>
</body>
{% endblock content %}