{% extends 'base.html' %}
{% block content %}
<title>FAQ</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

{% load static %}
<link rel="stylesheet" href="{% static 'faq/style.css' %}"/>

<div class="container">
    <h1><br><strong>Frequently Asked Questions</strong></h1>
    <br>
    <div class="faq-container">

        {% for data in data_faq %}
        <div class="card mb-3" style="width: 32rem;">
            <div class="card-header">
                <h5><strong> {{data.question}}</strong></h5>
                <i onclick="showAnswer('{{data.id}}')" class="bi bi-plus-circle-fill" style="font-size: 2rem;"></i>
            </div>
                <div class="card-body"> 
                    <div class="card-text">
                        <div class="text{{data.id}}">{{data.answer}}</div>
                    </div>
                    <form method="POST" class='like-form' id='{{data.id}}'>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{data.id}}>
                        <input type="hidden" id = "id-user" value="{{user.id}}"/>
                        <input type="hidden" id = "status_user" value="{{data.status_user}}"/>
                        <div class="button-icon">
                            <button type="submit" class="btn btn-outline-danger" id="like-btn{{data.id}}">
                                {% if user not in data.liked.all %}
                                    Like
                                {% else %}
                                    Unlike
                                {% endif %}
                            </button>
                        </div>
                    </form> 
                </div>
                <div class="card-footer mx-auto">

                    <div class=" plus-info">
                        <div class = icon-image{{data.id}}>
                            {% if user in data.liked.all %}
                                <span class = icon-fill{{data.id}}>
                                    <input type="hidden" id = "status_like" value="1"/>
                                    <i class="bi bi-heart-fill"></i>
                                </span>
                            {% else %}
                                <span class = icon-heart{{data.id}}>
                                    <input type="hidden" id = "status_like" value="2"/>
                                    <i class="bi bi-heart"></i>
                                </span>
                            {% endif %}
                        </div>
                        <div class="count-like">
                            <div class="like-count{{data.id}}"> {{data.num_likes}}</div>
                        </div>
                    </div>

                </div>
        </div>
        {% endfor %} 
    </div>
</div>

<div class="modal fade" id="modal-login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <b>Warning!</b>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
             
            <div class="modal-body">
                <p>Anda Perlu Login</p>
            </div>
        </div>
    </div>
</div>
<center>
    <button id="btn-question" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-question">
        Send Your Question             
        <i class="bi bi-plus-circle" ></i>
    </button>
</center>

<div class="modal fade" id="add-question" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Question</h1>
                <button id="close-modal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="add-quest-form" >  
                    {% csrf_token %}
                        <div class="form-floating mb-4 text-black">
                            <input id="question" type="text" name="question" placeholder="Question" class="form-control form-control-lg" />
                            <label class="form-label" for="typeEmailX">Question</label>
                        </div>
                        {% if not status_user %}
                            <p style="color:red ;">Anda Perlu Login Untuk Mengirim Pertanyaan</p>
                        {% endif %}
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input class="btn btn-primary" type="submit" name="submit" value="Add"/>
                        </div>
                </form>
            </div>
    
        </div>
    </div>
</div>


<script>
    $( document ).ready(function() {
        var user =  document.getElementById("id-user").value;
        $.ajax({
            url: "get/",
            type: "GET",
            dataType: "json",
            success: (data) => {
                console.log("berhasil")
                if(data.recently_viewed_question != null){
                    for (let i = 1; i <= 12; i++) {
                        if(!(data.recently_viewed_question).includes(i)){
                            console.log("berhasil"+i)
                            $(`.text${i}`).hide();
                        }
                    }   
                }
                else{
                    for (let i = 1; i <= 12; i++) {
                        $(`.text${i}`).hide();
                    }   
                }

            },
            error: (error) => {
                console.log(error);
            }
        });
    

        $('.like-form').submit(function(e){
            e.preventDefault()
      
            const post_id = $(this).attr('id')
            
            const likeText = $(`#like-btn${post_id}`).text()
            const trim = $.trim(likeText)

            
            let res;
            const likes = $(`.like-count${post_id}`).text()
            const trimCount = parseInt(likes)
       
            $.ajax({
                type: 'POST',
                url: "like/" + post_id,
                async: true,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                
                success: function(response) {    
                    var status = document.getElementById("status_user").value;
                    $(`.icon-heart${post_id}`).toggle("bi-heart")
                    if(user>0){
                        
                        if(trim === 'Unlike') {
                            $(`#like-btn${post_id}`).text("Like")
                            res = trimCount - 1
                            $(`.icon-fill${post_id}`).empty()
                            $(`.icon-fill${post_id}`).append("<i class='bi bi-heart'></i>")
                            $(`.icon-fill${post_id}`).toggle("bi-heart")
                            $(`.icon-heart${post_id}`).empty()
                            $(`.icon-heart${post_id}`).append("<i class='bi bi-heart'></i>")
                            $(`.icon-heart${post_id}`).toggle("bi-heart") 
                        }
                        else {
                            $(`#like-btn${post_id}`).text("Unlike")
                            res = trimCount + 1
                            $(`.icon-fill${post_id}`).empty()
                            $(`.icon-fill${post_id}`).append("<i class='bi bi-heart-fill'></i>")
                            $(`.icon-fill${post_id}`).toggle("bi-heart-fill")
                            $(`.icon-heart${post_id}`).empty()
                            $(`.icon-heart${post_id}`).append("<i class='bi bi-heart-fill'></i>")
                            $(`.icon-heart${post_id}`).toggle("bi-heart-fill")
                         }
                        $(`.like-count${post_id}`).text(res)
                    }
                    else{
                        $("#modal-login").modal('show');

                    }

                },
                error: function(response) {
                    
                    console.log('error', response)
                }
            })
        })
        $('#add-quest-form').submit(function(e) {
            e.preventDefault();
            var question = $("#question").val();
            console.log(question)
            $.ajax({
                type: "POST",
                url: "send_question/",
                data: {
                    question: question,
                    csrfmiddlewaretoken:$('input[name = csrfmiddlewaretoken]').val()
                },
                dataType: "json",
                success: function (response) {
                    console.log(question)
                    document.getElementById("close-modal").click();
                    document.getElementById("add-quest-form").reset();
                    // $(".modal-backdrop").remove();

                },
                error: function (error) {
                    console.log(error);
                },
            });
        });
    });
    function showAnswer(id){
        var id_text = parseInt(id)
        $(`.text${id_text}`).toggle();
        $.ajax({
            url: "set/" + id_text,
            type: "GET",
            dataType: "json",
        });
    }
</script>

{% endblock content %}