<html lang="en">

    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">&copy; B09 - PBP Midterm Project 2022. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                   <ul class="list-inline mb-0">
                       <li class="list-inline-item">
                           <a href="https://github.com/farrasjay/pbp-midterm-project-b09"><i class="bi-github fs-3"></i></a>
                       </li>
                   </ul>
                </div>
            </div>
        </div>
    </footer>

</html>